.Frame {
    background-color: black;
    color:white;
    font-size:16px;    
    padding: 20px;
    overflow: hidden;
    margin-left:10%;
}

.Frame p {
    font-size:14px;
    color: peru;
}

input {
    padding:10px;
    font-size:10px;
    margin-left:10px;
    outline:none;
}